<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}

  <script type="module" src="/js/ws.js"></script>
  <script type="module" src="/js/site.js"></script>

</body>

</html>